/* Header */
.header {
	background-color: black;
	color: rgb(255, 255, 255);
	padding: 1em;
	text-align: center;
  }
  
  .header nav ul {
	list-style: none;
	padding: 0;
	color: white;
  }
  
  .header nav ul li {
	display: inline;
	margin-right: 1em;
	color: white;
  }
  .header nav ul li a {
  color: white;
}
  