.mapa {
    background-color: black;
    color: white;
    padding: 29px;
    text-align: center;
}

/* Contenedor del mapa */
#mapa {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* iframe responsive */
#mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}