.mapa {
    background-color: black;
    color: white;
    padding: 29px;
    text-align: center;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 400px;
}

/* Contenedor del mapa */
#mapa {
    width: 100%;
    max-width: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
    padding: 20px;
}

/* iframe responsive */
#mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
     margin: 0 auto;
}