/* Reset de estilos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(90deg, rgb(8, 2, 118) 0%, rgb(22, 52, 172) 0%, #91c3ff 100%);	
	font-family: Arial, sans-serif;
	color: #ffffff;
}


