<!-- Formulario de contacto -->
<!-- Falta agregar datos como apellido y un nro de telefono al formulario --> 
 <section id="contacto" class="contacto">
    <h2>Contacto</h2>
    <form action="post" class="contacto-form">
      <!-- Se espera que los alumnos completen los campos del formulario -->
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="email" name="email" placeholder="Email" required>
      <textarea name="mensaje" placeholder="Mensaje" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </section>