<!-- Banner -->
<img src="images/banner.png" alt="Banner de Desarrollo Web" class="banner">

<!-- Principal -->
<div class="contenido">
  <h1>Nosotros somos [.....]</h1>
  <h2>Nuestro proyecto [.....]</h2>
  <br>
  <h3>Nuestra misión [.....]</h3>
</div>

<!-- Integrantes -->
<div class="galeria">
  <div class="integrante">
    <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
    <p class="nombre">Nombre Apellido</p>
    <p class="descripcion">Descripción de función en el grupo.</p>
  </div>
  <div class="integrante">
    <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
    <p class="nombre">Nombre Apellido</p>
    <p class="descripcion">Descripción de función en el grupo.</p>
  </div>
  <div class="integrante">
    <img src="images/perfil1.webp" alt="nombre apellido de" class="perfil">
    <p class="nombre">Nombre Apellido</p>
    <p class="descripcion">Descripción de función en el grupo.</p>
  </div>
  <div class="integrante">
    <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
    <p class="nombre">Nombre Apellido</p>
    <p class="descripcion">Descripción de función en el grupo.</p>
  </div>
  <div class="integrante">
    <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
    <p class="nombre">Nombre Apellido</p>
    <p class="descripcion">Descripción de función en el grupo.</p>
  </div>
</div>
