  <!-- Banner -->
  <img src="images/banner.png" alt="Banner de Desarrollo Web" class="banner">

<!-- Principal -->
  <div class="contenido">
  <h1>Nosotros somos Grupo G2 consultores de ecommerce</h1>
  <h2>
    Somos una consultora de comercio electrónico que ayuda a emprendedores y pymes a potenciar sus ventas y presencia digital.
  </h2>
  <div class="cuadro">
    <h3>Misión</h3>
    <p>
      Impulsar la transformación digital de empresas y emprendedores mediante soluciones estratégicas de comercio electrónico que potencien sus ventas, optimicen sus procesos y fortalezcan su presencia online. 
      Brindamos acompañamiento integral desde la planificación y desarrollo de tiendas virtuales hasta la implementación de campañas y métricas con foco en resultados medibles y crecimiento sostenible.
    </p>
  </div>
  <div class="cuadro">
    <h3>Visión</h3>
    <p>
      Ser una consultora líder en comercio electrónico reconocida por su capacidad de generar valor real en cada proyecto, contribuyendo a la profesionalización del ecosistema digital. 
      Aspiramos a convertirnos en referentes en innovación, datos y experiencia del cliente, ayudando a construir un mercado online más competitivo, accesible y humano.
    </p>
  </div>
</div>

<!-- Integrantes -->
<div class="galeria">
  <div class="integrante">
    <img src="https://img.freepik.com/vector-gratis/mujer-cabello-largo-marron_1308-175659.jpg?semt=ais_hybrid&w=740&q=80" alt="nombre apellido" class="perfil">
    <p class="nombre">Barbara Turzi</p>
    <p class="descripcion">CMO - Chief Marketing Officer.</p>
  </div>
  <div class="integrante">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSWc_M20-r5im8QuonDYcS-J1tMmK1X2CioGWeKK2wh0IhAs3MB" alt="nombre apellido" class="perfil">
    <p class="nombre">Ezequiel Taboada</p>
    <p class="descripcion">CFO - Chief Financial Officer.</p>
  </div>
  <div class="integrante">
    <img src="https://img.freepik.com/vector-gratis/joven-capucha-naranja_1308-175788.jpg?semt=ais_hybrid&w=740&q=80" alt="nombre apellido de" class="perfil">
    <p class="nombre">Alexis Mineldin</p>
    <p class="descripcion">CEO - Chief Executive Officer.</p>
  </div>
  <div class="integrante">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxIUykbC9k18gRuP5-paJLrPzSjKFh9AeC2KxhzUJEiqQMP0Wp" alt="nombre apellido" class="perfil">
    <p class="nombre">Matias Rivero</p>
    <p class="descripcion">COO - Chief Operating Officer.</p>
  </div>
  <div class="integrante">
    <img src="https://img.freepik.com/vector-gratis/joven-sonriente-chaqueta-naranja_1308-176720.jpg?semt=ais_hybrid&w=740&q=80" alt="nombre apellido" class="perfil">
    <p class="nombre">Cristian Nuñez</p>
    <p class="descripcion">CTO - Chief Technology Officer.</p>
  </div>
</div>

 
/
