  <!-- Banner -->
  <img src="images/banner.png" alt="Banner de Desarrollo Web" class="banner">

  <!-- Principal -->
  <<div class="contenido">
  <h1>Nosotros somos Grupo G2 consultores de ecommerce</h1>
  <h2>
    Somos una consultora de comercio electrónico que ayuda a emprendedores y pymes a potenciar sus ventas y presencia digital.
  </h2>
  <div class="cuadro">
    <h3>Misión</h3>
    <p>
      Impulsar la transformación digital de empresas y emprendedores mediante soluciones estratégicas de comercio electrónico que potencien sus ventas, optimicen sus procesos y fortalezcan su presencia online. 
      Brindamos acompañamiento integral desde la planificación y desarrollo de tiendas virtuales hasta la implementación de campañas y métricas con foco en resultados medibles y crecimiento sostenible.
    </p>
  </div>
  <div class="cuadro">
    <h3>Visión</h3>
    <p>
      Ser una consultora líder en comercio electrónico reconocida por su capacidad de generar valor real en cada proyecto, contribuyendo a la profesionalización del ecosistema digital. 
      Aspiramos a convertirnos en referentes en innovación, datos y experiencia del cliente, ayudando a construir un mercado online más competitivo, accesible y humano.
    </p>
  </div>
</div>
  <!-- Integrantes -->
  <div class="galeria">
    <div class="integrante">
      <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
      <p class="nombre">Nombre Apellido</p>
      <p class="descripcion">Descripción de función en el grupo.</p>
    </div>
    <div class="integrante">
      <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
      <p class="nombre">Nombre Apellido</p>
      <p class="descripcion">Descripción de función en el grupo.</p>
    </div>
    <div class="integrante">
      <img src="images/perfil1.webp" alt="nombre apellido de" class="perfil">
      <p class="nombre">Nombre Apellido</p>
      <p class="descripcion">Descripción de función en el grupo.</p>
    </div>
    <div class="integrante">
      <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
      <p class="nombre">Nombre Apellido</p>
      <p class="descripcion">Descripción de función en el grupo.</p>
    </div>
    <div class="integrante">
      <img src="images/perfil1.webp" alt="nombre apellido" class="perfil">
      <p class="nombre">Nombre Apellido</p>
      <p class="descripcion">Descripción de función en el grupo.</p>
    </div>
  </div>
/
